/* NAVBAR STYLING (ALWAYS COPY INTO NEW CSS FILE) */
/* Select all elements with id=logo */
#logo {
  padding-right: 25px;
}

/*Selects all elements with class name navbar-brand*/
.navbar-brand {
  font-family:'Trebuchet MS';
  font-size: 18px !important;
  color:white !important;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

/*Selects all elements with class name nav-link inside all elements with class name navbar-nav*/
.navbar-nav .nav-link {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-style: bold;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 100px;
  color:rgb(33, 79, 136) !important;
}

/* Highlights inactive page when user hovers over it */
.navbar-nav .nav-link:not(.active) {
  opacity: 0.45;
}
.navbar-nav .nav-link:not(.active):hover {
  opacity: 1;
}

/* Hover effect for bigger viewports */
@media (min-width: 992px) {
  /* Same as before except editing with the after effect*/
  .navbar-nav .nav-link::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: rgba(10, 84, 174, 0.648);
    transition: width 0.3s ease;
  }
  .navbar-nav .nav-link:hover::after{ 
    cursor: pointer;
    width: 100%;
  }
}
/* Highlight effect for smaller viewports */
@media (max-width: 991px) {
  .navbar-nav .nav-link {
    margin-left: 20px;
  }
  /* 240 142 106 */
  .navbar-nav .nav-item:hover {
    background-color: rgb(240, 152, 106);
  }
}

/* Spotlight PAGE Styling */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    padding: 500px;
}

/* Centering Content */
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}