/* NAVBAR STYLING (ALWAYS COPY INTO NEW CSS FILE) */
#logo {
  padding-right: 25px;
}

/*Selects all elements with class name navbar-brand*/
.navbar-brand {
  font-family:'Trebuchet MS';
  font-size: 18px !important;
  color:white !important;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

/*Selects all elements with class name nav-link inside all elements with class name navbar-nav*/
.navbar-nav .nav-link {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-style: bold;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 100px;
  color:rgb(33, 79, 136) !important;
}

/* Highlights inactive page when user hovers over it */
.navbar-nav .nav-link:not(.active) {
  opacity: 0.45;
}
.navbar-nav .nav-link:not(.active):hover {
  opacity: 1;
}

/* Hover effect for bigger viewports */
@media (min-width: 992px) {
  /* Same as before except editing with the after effect*/
  .navbar-nav .nav-link::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: rgba(10, 84, 174, 0.648);
    transition: width 0.3s ease;
  }
  .navbar-nav .nav-link:hover::after{ 
    cursor: pointer;
    width: 100%;
  }
}
/* Highlight effect for smaller viewports */
@media (max-width: 991px) {
  .navbar-nav .nav-link {
    margin-left: 20px;
  }
  /* 240 142 106 */
  .navbar-nav .nav-item:hover {
    background-color: rgb(240, 152, 106);
  }
}

/* MESSAGE PAGE Styling */
/* Centers Body */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

#greeting-details {
  border: 2px solid #c1baba;
  border-radius: 10px;
  margin-top: 100px;
}
.form-group {
  margin-left: 50px;
  margin-top: 15px;
  margin-right: 50px;
}
.btn {
  margin-left: 28px;
}

#loading {
  margin-top: 25px;
}

/*#main {
  margin-top: 50px;
}
#about-header {
  background-color: lightblue;
  height: 30vh;
}
#about-box {
  display: flex;
  align-items: center;
  justify-content: center; 
}
#about-box h1 {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  text-shadow: 2px 2px #333;
  z-index: 1;
}
#atlas-logo {
  height: 50px;
  display: inline-block;
  padding-right: 500px;

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */



/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */
/* 
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
