<!DOCTYPE html>
<html lang="en">
  <!-- CONTENT IN HEAD MUST BE COPIED TO EVERY HTML FILE (Because Navbar exists on every page) -->
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="assets/website_logo.svg" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuikScribe: Message and Image Generator</title>
    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"/>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Our Own CSS File (Must always go after Bootstrap as that gives our CSS highest priority) -->
    <link rel="stylesheet" href="css/spotlight.css"/>
    <!-- Script to Change Hamburger Icon to X Icon when user clicks on Navbar Menu -->
    <script>
      const current_user = <%- JSON.stringify(user) %>;
      document.addEventListener('DOMContentLoaded', function() {
        var toggleButton = document.querySelector('#navbarToggle');
        toggleButton.addEventListener("click", function() {
          var openMenu = document.querySelector('#navbar-hamburger');
          var closeMenu = document.querySelector('#navbar-close');
          let closeIconHidden = closeMenu.getAttribute("hidden");
          if (closeIconHidden) {
            closeMenu.removeAttribute("hidden");
            openMenu.setAttribute("hidden", "hidden");
          } else {
            openMenu.removeAttribute("hidden");
            closeMenu.setAttribute("hidden", "hidden");
          }
        });
      });
    </script>    
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:coral">
      <div class="container-fluid">
        <a href="https://illinois.edu"><img id="logo" src="assets/logo.svg" height="40" alt="Illinois Logo" loading="lazy"/></a>
        <a class="navbar-brand" href="https://atlas.illinois.edu/internships">QuikScribe</a>
        <button id="navbarToggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
          <div id="navbar-hamburger">
            <span class="navbar-toggler-icon"></span>
          </div>
          <div id="navbar-close" hidden="hidden">
            <span class="bi-x-lg"></span>
          </div>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/message">Create Message</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/spotlight">Create Spotlight</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account">Account</a>
            </li>
          </ul>
          <form id="logout" method="POST" action="/logout">
            <button id="logout-btn" type="submit" class="btn btn-danger">LOG OUT</button>
          </form>
        </div>
      </div>
    </nav>
  </head>
  <body>
    <div id="main" class="container-fluid">
      <form id="spotlight-details" class="needs-validation" novalidate>
        <div class="card-header">
          <h1>Generate an ATLAS Spotlight!</h1>
        <% if (user.roles.includes('Intern')) { %>  
          <h5 class="text-center" style="color: rgb(198, 73, 73); font-weight: bolder; font-size: 48px">Hello <%= user.name %>! READ ME:</h5>
          <p style="color: royalblue; font-weight: bold;"> You have <span id="header-attempts" style="text-decoration: underline;"><%= user.attempts %> attempts</span> total.</p>
          <p style="color: royalblue; font-weight: bold;">When you click Generate, ChatGPT will generate <span style="text-decoration: underline;">3 different paragraphs</span> and you will <span style="text-decoration: underline;">LOSE 1 ATTEMPT</span>. <br>Generated paragraphs are <span style="text-decoration: underline;">EDITABLE</span>, and once you're satisfied with the paragraph, you can click SELECT and this will submit your paragraph for review! <br>Submissions are <span style="text-decoration:underline"> NOT EDITABLE</span> so choose wisely! <br>If you'd like to <span style="text-decoration: underline;">generate more paragraphs</span>, you can click Generate again BUT you will <span style="text-decoration: underline;">LOSE ANOTHER ATTEMPT</span> and <span style="text-decoration: underline;">DELETE the previously generated paragraphs.</span> 
          <br>This means if you wanted to use up <span style="text-decoration: underline;">all your attempts</span>, you'd have <span style="text-decoration: underline;">9 paragraphs</span> in total to choose from.
          <br><span style="color: rgb(212, 45, 45)">Attempts DO NOT RESET back to 3 until the current academic term is over. So use them wisely.</span> 
          </p>
        <% } else { %>
          <p style="color: royalblue;"> You are <span style="font-weight: bold; text-decoration: underline;">NOT AUTHORIZED</span> to use this form as you are not an Intern.
          </p>
        <% } %>
        </div>
        <h4 class="text-center pt-3" style="text-decoration: underline;">About You</h4>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="John Doe" required>
            <!-- Custom Validation Feedback (Add class="was-validated" to form tag to test messages) -->
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Please enter your name.</div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputMajor">Major</label>
            <input type="text" class="form-control" id="inputMajor" placeholder="English, CS, Physics and Math" required>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Please enter your major.</div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputYear">Year</label>
            <select id="inputYear" class="form-control" required>
              <option value="" disabled selected hidden>Select Your Year</option>
              <option value="Freshman">Freshman</option>
              <option value="Sophomore">Sophomore</option>
              <option value="Junior">Junior</option>
              <option value="Senior">Senior</option>
            </select>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Please select your year.</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputReferral">How Did You Discover the Program?</label>
            <select id="inputReferral" class="form-control" required>
              <option value="" disabled selected hidden>Select a Referral</option>
              <option value="Academic Advisor">Academic Advisor</option>
              <option value="Department">Department Emails/Newsletters</option>
              <option value="Career Fair">Career Fair</option>
              <option value="Friends">Friends/Classmates</option>
              <option value="other">Other</option>
            </select>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Please select a referral or Other if it's not listed.</div>
          </div>
          <div id="other-referral" class="form-group col-md-4" style="display: none;">
            <label for="other-referral">Other</label>
            <input type="text" class="form-control" id="other-referral-input"
              placeholder="Professor, Career Center, etc"/>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Please enter your referral.</div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputSems">How Many Semesters as an Intern?</label>
            <select id="inputSems" class="form-control" required>
              <option value="" disabled selected hidden>Select number of semesters</option>
              <option value="First Semester">First Semester</option>
              <option value="Second Semester">Second Semester</option>
              <option value="Third Semester">Third Semester</option>
              <option value="Fourth Semester">Fourth Semseter</option>
              <option value="More Than Four Semesters">5 or More</option>
            </select>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Please select the number of semesters you've interned at ATLAS.</div>
          </div>
        </div>
        <div class="onlyfg form-group">
          <label for="reasonForJoining">Why did you join ATLAS? (Full Sentences)</label>
          <textarea class="form-control" id="reasonForJoining" rows="2" required
          placeholder="Ex: I joined ATLAS because I wanted to gain some professional experience before I graduated. It sounded like a great opportunity to develop my technical skills and build my network."></textarea>
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Please explain why you joined the ATLAS Internship Program.</div>
        </div>
        <div class="onlyfg form-group col-md-11" style="padding-bottom: 15px;">
          <label for="funFact">Fun Fact</label>
          <textarea class="form-control" id="funFact" rows="1" required
          placeholder="Ex: I've traveled to Europe!"></textarea>
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Please include a fun fact about yourself!</div>
        </div>
        <hr />
        <h4 class="text-center" style="text-decoration: underline;">About Your Internship</h4>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPosition">Official Position/Title</label>
            <input type="text" class="form-control" id="inputPosition"
              placeholder="Ex: Social Media Specialist, Data Analyst" required/>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Please enter your position/title.</div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputClient">Client</label>
            <input type="text" class="form-control" id="inputClient"
              placeholder="Ex: Feeding Our Kids, ATLAS Business Process Improvement" required/>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Please enter your client.</div>
          </div>
        </div>
        <div id="tasks" class="onlyfg form-group col-md-11">
          <label for="inputTasks">Tasks/Responsibilities - Be Specific! (Minimum: 3)</label>
          <input type="text" class="form-control" id="inputTasks1"
            placeholder="Ex: I analyzed Drupal Website Data using packages and libraries in Python and presented the data to relevant stakeholders."
            style="margin-bottom: 15px;" required/>
          <input type="text" class="form-control" id="inputTasks2"
            placeholder="Ex: Created 10 social media posts and edited 5 informational videos to expand the client's reach within its customer base."
            style="margin-bottom: 15px;" required/>
          <div class="d-flex input-group align-items-start">
            <input type="text" class="form-control" id="inputTasks3"
            placeholder="Ex: Using WordPress, I created 20 weekly newsletters and 15 blogs about my client's medical research."
            style="margin-bottom: 15px;" required/>
            <button id="addTasks" type="button" class="btn btn-secondary ml-lg-4" style="text-align: center; background-color: rgb(71, 165, 31);">
              <span class="bi bi-plus" style="font-size: 15px"></span>
              Add More
            </button>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Please enter at least three tasks/responsibilities.</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="skillsGain">What skills did you gain as an intern? (Technical & Soft)</label>
            <textarea class="form-control" id="skillsGain" rows="5" required
            placeholder="Graphic Design, Editing Videos, Programming in R and Python, Time Management, Good Work Habits or any other skills relevant to your professional growth"></textarea>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Please list skills you gained during the Internship Program.</div>
          </div>
          <div class="form-group">
            <label for="experienceGain">What experience did you gain as an intern? (Full Sentences)</label>
            <textarea class="form-control" id="experienceGain" rows="5" required
            placeholder="Ex: I gained experience in developing a full-stack instructional web application. I've learned how to conduct a proper research study within the field of economics. Finally, I've grown as a professional and feel confident entering a full-time position."></textarea>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Please describe the experience(s) you gained during the Internship Program.</div>
          </div>
        </div>
        <div class="onlyfg form-group" style="padding-bottom: 15px;">
          <label for="future">Future Plans/Career Aspirations</label>
          <textarea class="form-control" id="future" rows="2" required
          placeholder="Ex: I hope to become the editor of a publishing company, but I am also considering going to graduate school and getting my MBA."></textarea>
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Please explain your future goals or career aspirations.</div>
        </div>
        <div class="card-footer d-flex">
          <% if (user.roles.includes('Intern')) { %>
            <button id="submit" type="submit" class="btn btn-primary btn-lg">Generate!</button>
            <p class="pl-3 mt-2" style="font-size: 20px;">You have <span id="footer-attempts" style="color: rgb(212, 45, 45); text-decoration: underline;"><%= user.attempts %></span> attempts remaining.</p>
            <% } else { %>
            <p style="font-size: 20px; color: rgb(212, 45, 45);">You are not allowed to submit this form as you are not an Intern!</p>        
          <% } %>
        </div>
      </form>
    </div>
    <div id="responses" class="container-fluid">
      <h1 class="text-center mt-4">⭐Spotlight Paragraphs⭐</h1>
      <!-- TODO: Generate the paragraphs without erasing previously generated paragraphs. -->
      <h5 class="text-center">You can directly edit the generated paragraphs by simply clicking on them! Regenerating will <span style="font-weight: bold;">DELETE</span> the paragraphs that have already been generated. So, make sure to copy and paste elsewhere 
      if you want to still see more options but already received a good paragraph.</h5>
      <hr> 
      <h3 class="text-center" style="color:black">ChatGPT Generated Paragraphs:</h3>
      <div class="row p-3">
        <div class="col-md-4">
          <p id="chat-response1"> <span style="font-weight: bold;">Example:</span> Mary, a freshman studying statistics and computer science, discovered the ATLAS Internship Program through a friend and eagerly joined for her first semester. As a Virtual Event Planner and Social Media Specialist, she was assigned to work with the European Union Center (EUC). Tasked with expanding the EUC's online presence, Mary devoted her time to designing captivating graphics and posting engaging content on their Instagram page two to three times a week. Additionally, she focused on undergraduate outreach, using her analytical skills to analyze social media data and brainstorm innovative strategies for expansion. A valuable aspect of her role involved editing videos and uploading them to the website, allowing her to build an impressive portfolio and refine her video editing skills. Throughout her internship, Mary experienced significant personal growth, enhancing her communication and problem-solving abilities. The ATLAS Internship Program equipped her with valuable skills in video editing, graphic design, and marketing, setting a strong foundation for her future endeavors. Inspired by her experiences, Mary plans to pursue graduate school and obtain a Ph.D., driven by her passion for statistics and computer science. As she embarks on her academic journey, Mary cherishes the memories of her favorite travel destination, the Netherlands, which holds a special place in her heart.
          <div class="loader" style="display: none"></div>
        </div>
        <div class="col-md-4">
          <p id="chat-response2"> <span style="font-weight: bold;">Example:</span> Bob is a senior studying English and Creative Writing. He heard about the ATLAS Internship Program through the Humanities Professional Resource Center on campus and decided to join to gain some professional experience before he graduates. Mary is a digital marketing intern for Earnest Earth and he handles the social media and market research in order to find ways to organically grow the company’s social media accounts. At the beginning of his internship he was handling social media posts and researching possible ways to build up the company’s social media profiles. He then transitioned into developing an instructional website that will improve the company’s Search Engine Optimization. He has learned how to properly research keywords in a specific niche using a keyword research tool. As he moves forward with his future plans in marketing, he will take his newly learned technology skills along with better time management skills, consistency, good working habits and overall increased self-awareness. He believes that his internship has allowed him to grow as a professional and become ready for responsibilities that will come with a full-time position.
          <div class="loader" style="display: none"></div>
        </div>
        <div class="col-md-4">
          <p id="chat-response3"> <span style="font-weight: bold;">Example:</span> Sue is a senior studying English and Creative Writing. She heard about the ATLAS Internship Program her freshman year and then her advisor recommended it her junior year. Mary decided to join the program to have the opportunity to get professional work experience. She knew ATLAS has a lot of established connections at the university so she decided to sign up. Mary is a Team Leader for the Business Process Improvement Team. Some of her responsibilities include, helping to build forms for clients based on specifications, she is on-call for the FormBuilder Help Desk to assist any clients having issues with their forms, and she is the first line of communication between their new clients and the team. She has currently finished working with a Help Desk client from the Less Commonly Taught Language Program. They were having issues with the text merge fields in the confirmation/reviewal phases, as well as the emails being sent to the form submitter and admins. She met with them to help make sure their text merge fields were all working properly and to discuss their concerns with routing triggers. Mary's future career plan has recently changed, she was previously planning on going to law school, but now she is preparing to apply for admissions to English graduate/PhD programs for Fall 2023. After she gets her graduate degree, she hopes to teach English Literature at any level. Mary will bring newly learned skills and experience, including the ability to effectively communicate very technical information, to the rest of her professional life.
          <div class="loader" style="display: none"></div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="add-modal" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close close-add" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <p id="add-message" style="padding: 20px; font-size: large;"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary close-add-modal-btn">Close</button>
            <button id="clear-form" class="btn btn-danger">Clear Form</button>
          </div>
        </div>
      </div>
    </div>
    <script src="js/spotlight.js"></script>
    <!-- Bootstrap CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNVQ8ew"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  </body>
</html>
