/* NAVBAR STYLING (ALWAYS COPY INTO NEW CSS FILE) */
/* Select all elements with id=logo */
#logo {
    padding-right: 25px;
}
  
/*Selects all elements with class name navbar-brand*/
.navbar-brand {
    font-family:'Trebuchet MS';
    font-size: 18px !important;
    color:white !important;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

/*Selects all elements with class name nav-link inside all elements with class name navbar-nav*/
.navbar-nav .nav-link {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: bold;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 100px;
    color:rgb(33, 79, 136) !important;
}

#logout-btn {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
}

/* Highlights inactive page when user hovers over it */
.navbar-nav .nav-link:not(.active) {
    opacity: 0.45;
}
.navbar-nav .nav-link:not(.active):hover {
    opacity: 1;
}

/* Hover effect for bigger viewports */
@media (min-width: 992px) {
/* Same as before except editing with the after effect*/
    .navbar-nav .nav-link::after {
        content: "";
        display: block;
        height: 3px;
        width: 0;
        background: rgba(10, 84, 174, 0.648);
        transition: width 0.3s ease;
    }
    .navbar-nav .nav-link:hover::after{ 
        cursor: pointer;
        width: 100%;
    }
}
/* Highlight effect for smaller viewports */
@media (max-width: 991px) {
    .navbar-nav .nav-link {
        margin-left: 20px;
    }
    /* 240 142 106 */
    .navbar-nav .nav-item:hover {
        background-color: rgb(240, 152, 106);
    }
    #logout{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
    }
    #logout-btn {
        padding-left: 50px;
        padding-right: 50px;
        font-weight: 500;
        text-transform: uppercase;
        font-style: bold;
        letter-spacing: 5px;
    }
    
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    padding: 100px;
}

.card {
    border: 1px solid #dadada;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.card-title {
    margin-top: -10% + 1vh;
}

.card-body > img {
    height: 150px;
    object-fit: cover;
    object-position: center 20%;
}

.card:hover {
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.7);
}

/* Change # of Cards on Page if on Smaller Viewports */
