/* NAVBAR STYLING (ALWAYS COPY INTO NEW CSS FILE) */
/* Select all elements with id=logo */
#logo {
    padding-right: 25px;
  }
  
/*Selects all elements with class name navbar-brand*/
.navbar-brand {
    font-family:'Trebuchet MS';
    font-size: 20px !important;
    color:white !important;
    /* padding-right: 500px; */
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

/*Selects all elements with class name nav-link inside all elements with class name navbar-nav*/
.navbar-nav .nav-link {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: bold;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 100px;
    color:rgb(33, 79, 136) !important;
}

/* Highlights inactive page when user hovers over it */
.navbar-nav .nav-link:not(.active) {
    opacity: 0.45;
}
.navbar-nav .nav-link:not(.active):hover {
    opacity: 1;
}

/* Hover effect for bigger viewports */
@media (min-width: 992px) {
/* Same as before except editing with the after effect*/
    .navbar-nav .nav-link::after {
        content: "";
        display: block;
        height: 3px;
        width: 0;
        background: rgba(10, 84, 174, 0.648);
        transition: width 0.3s ease;
    }
    .navbar-nav .nav-link:hover::after{ 
        cursor: pointer;
        width: 100%;
    }
}
/* Highlight effect for smaller viewports */
@media (max-width: 991px) {
    .navbar-nav .nav-link {
        margin-left: 20px;
    }
    /* 240 142 106 */
    .navbar-nav .nav-item:hover {
        background-color: rgb(240, 152, 106);
    }
}

/* Login Page */
.link {
    cursor: pointer;
    border: 20pc;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    width: 200px;
    &:hover {
        text-decoration: none;
        transition: all 0.1s;
        font-weight: 700;
    }
}

.link:hover {

    font-weight: 900;
}

.button {
    position: relative; /* Add position property */
    overflow: hidden; /* Hide the slide-in effect initially */
    border-radius: 50px;
    letter-spacing: 1px;
    z-index: 0;
    background-color:rgba(107, 162, 230, 0.648);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    transition: 0.5s;
    &:hover { 
      transform: translateY(-2em);
      font-weight: 900;
      border-color: #87bf66;
      box-shadow: 0 4px 15px 0 rgb(23, 98, 191);
    }
}
